In [1]:
# Importing Libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [2]:
# Activating the chrome browser 
driver = webdriver.Chrome(r"C:\WebDriver\chromedriver_win32\chromedriver.exe")

# Opening the homepage 
driver=webdriver.Chrome()
driver.get('https://www.google.com/')

### Question 1
1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [4]:
rank = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
Rank=[]
for i in rank:
    if i.text is None:
        Rank.append("-")
    else:
        Rank.append(i.text.replace(".",""))

In [5]:
name = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
Name=[]
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text.replace('"',""))

In [6]:
uploader = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
Artist=[]
for i in uploader:
    if i.text is None:
        Arist.append("-")
    else:
        Artist.append(i.text)

In [7]:
views = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
Views=[]
for i in views:
    if i.text is None:
        Views.append("-")
    else:
        Views.append(i.text)

In [8]:
date = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
Upload_date=[]
for i in date:
    if i.text is None:
        Upload_date.append("-")
    else:
        Upload_date.append(i.text)

In [9]:
df=pd.DataFrame({})
df['Rank']=Rank
df['Video_name']=Name
df['Artist']=Artist
df['Upload_date']=Upload_date
df['Views']=Views
df

,Rank,Video_name,Artist,Upload_date,Views
0,1,Baby Shark Dance[23],Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.71
1,2,Despacito[25],Luis Fonsi,"January 12, 2017",7.63
2,3,Johny Johny Yes Papa[26],LooLoo Kids,"October 8, 2016",5.92
3,4,Shape of You[27],Ed Sheeran,"January 30, 2017",5.53
4,5,See You Again[28],Wiz Khalifa,"April 6, 2015",5.33
5,6,Bath Song[31],Cocomelon – Nursery Rhymes,"May 2, 2018",4.65
6,7,Learning Colors – Colorful Eggs on a Farm[32],Miroshka TV,"February 27, 2018",4.53
7,8,Masha and the Bear – Recipe for Disaster[33],Get Movies,"January 31, 2012",4.47
8,9,Uptown Funk[34],Mark Ronson,"November 19, 2014",4.37
9,10,Phonics Song with Two Words[35],ChuChu TV,"March 6, 2014",4.31
10,11,Gangnam Style[36],Psy,"July 15, 2012",4.25
11,12,Dame Tu Cosita[38],El Chombo,"April 5, 2018",3.71
12,13,Sugar[39],Maroon 5,"January 14, 2015",3.59
13,14,Sorry[40],Justin Bieber,"October 22, 2015",3.49
14,15,Roar[41],Katy Perry,"September 5, 2013",3.47
15,16,Counting Stars[42],OneRepublic,"May 31, 2013",3.45
16,17,Wheels on the Bus[43],Cocomelon – Nursery Rhymes,"May 24, 2018",3.37
17,18,Thinking Out Loud[44],Ed Sheeran,"October 7, 2014",3.36
18,19,Faded[45],Alan Walker,"December 3, 2015",3.18
19,20,Dark Horse[46],Katy Perry,"February 20, 2014",3.18
20,21,Girls Like You[47],Maroon 5,"May 31, 2018",3.18
21,22,Bailando[48],Enrique Iglesias,"April 11, 2014",3.13
22,23,Lean On[49],Major Lazer,"March 22, 2015",3.12
23,24,Let Her Go[50],Passenger,"July 25, 2012",3.12
24,25,Shake It Off[51],Taylor Swift,"August 18, 2014",3.12
25,26,Axel F[52],Crazy Frog,"June 16, 2009",3.10
26,27,Perfect[53],Ed Sheeran,"November 9, 2017",3.02
27,28,Mi Gente[54],J Balvin,"June 29, 2017",3.00
28,29,Waka Waka (This Time for Africa)[55],Shakira,"June 4, 2010",2.99
29,30,Hello[56],Adele,"October 22, 2015",2.91

### Question 2
2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
# Activating the chrome browser 
driver = webdriver.Chrome(r"C:\WebDriver\chromedriver_win32\chromedriver.exe")

In [11]:
url = "https://www.bcci.tv/"
driver.get(url)

In [12]:
time.sleep(3)

In [13]:
drop_down = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [14]:
time.sleep(3)

In [15]:
drop_down = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()

In [17]:
match_title = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
Match_title=[]
for i in match_title:
    if i.text is None:
        Match_title.append("-")
    else:
        Match_title.append(i.text)

In [18]:
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
Series=[]
for i in series:
    if i.text is None:
        Series.append("-")
    else:
        Series.append(i.text)

In [19]:
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
Place=[]
for i in place:
    if i.text is None:
        Place.append("-")
    else:
        Place.append(i.text)

In [20]:
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
Date=[]
for i in date:
    if i.text is None:
        Date.append("-")
    else:
        Date.append(i.text)

In [21]:
month = driver.find_elements_by_xpath("//span[@class='fixture__month']")
Month=[]
for i in month:
    if i.text is None:
        Month.append("-")
    else:
        Month.append(i.text)

In [22]:
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
Time=[]
for i in time:
    if i.text is None:
        Time.append("-")
    else:
        Time.append(i.text)

In [23]:
df=pd.DataFrame({})
df['Match_title']=Match_title[:12]
df['Series']=Series[:12]
df['Place']=Place[:12]
df['Full_date']=Date[:12]
df['Time']=time[:12]
df['Month']=Month[:12]
df

,Match_title,Series,Place,Full_date,Time,Month
0,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25,<selenium.webdriver.remote.webelement.WebEleme...,NOVEMBER
1,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03,<selenium.webdriver.remote.webelement.WebEleme...,DECEMBER
2,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17,<selenium.webdriver.remote.webelement.WebEleme...,DECEMBER
3,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26,<selenium.webdriver.remote.webelement.WebEleme...,DECEMBER
4,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",03,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
5,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
6,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
7,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
8,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
9,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
10,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY
11,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26,<selenium.webdriver.remote.webelement.WebEleme...,JANUARY

### Question 3
Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [32]:
# Activating the chrome browser 
driver = webdriver.Chrome(r"C:\WebDriver\chromedriver_win32\chromedriver.exe")

In [33]:
url = "https://www.guru99.com/"
driver.get(url)

In [34]:
Button= driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']").click()
search=driver.find_element_by_xpath("//input[@class='gsc-input']")
search.send_keys('selenium exception handling')

In [35]:
name =driver.find_elements_by_xpath("//div[@class='gs-title']")
Name=[]
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [36]:
desc =driver.find_elements_by_xpath("//div[@class='gs-title']")
description=[]
for i in desc:
    if i.text is None:
        description.append("-")
    else:
        description.append(i.text)

In [37]:
df = pd.DataFrame({})
df['Name'] = Name
df['description'] = description

In [38]:
df[:10]

,Name,description
0,Selenium Exception Handling (Common Exceptions...,Selenium Exception Handling (Common Exceptions...
1,How to Handle SSL Certificate in Selenium WebD...,How to Handle SSL Certificate in Selenium WebD...
2,Try Catch in Java: Exception Handling Example,Try Catch in Java: Exception Handling Example
3,Selenium Alert & Popup Window Handling: How to...,Selenium Alert & Popup Window Handling: How to...
4,"Python Exception Handling: try, catch, finally...","Python Exception Handling: try, catch, finally..."
5,Top 100 Selenium Interview Questions and Answe...,Top 100 Selenium Interview Questions and Answe...
6,"VB.Net Exception Handling | Try, Catch, Error ...","VB.Net Exception Handling | Try, Catch, Error ..."
7,PHP Try Catch Example: Exception & Error Handl...,PHP Try Catch Example: Exception & Error Handl...
8,Oracle PL/SQL Exception Handling: Examples to ...,Oracle PL/SQL Exception Handling: Examples to ...
9,JSP Exception Handling | Error Handling in JSP...,JSP Exception Handling | Error Handling in JSP...

### Question 4
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [39]:
url = "http://statisticstimes.com/"
driver.get(url)

In [41]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/button'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a'))).click()

In [42]:
Rank=[]
rank = driver.find_elements_by_xpath("//td[@class='data1']")[0:33]
for i in rank:
    if i.text is None:
        Rank.append("-")
    else:
        Rank.append(i.text)

In [43]:
State=[]
state = driver.find_elements_by_xpath("//td[@class='name']")[0:33]
for i in state:
    if i.text is None:
        State.append("-")
    else:
        State.append(i.text)

In [44]:
GSDP_19_to_20=[]
gsdp = driver.find_elements_by_xpath("//td[3][@class='data']")[0:33]
for i in gsdp:
    if i.text is None:
        GSDP_19_to_20.append("-")
    else:
        GSDP_19_to_20.append(i.text)

In [45]:
GSDP_18_to_19=[]
gsdp = driver.find_elements_by_xpath("//td[@class='data sorting_1']")[0:33]
for i in gsdp:
    if i.text is None:
        GSDP_18_to_19.append("-")
    else:
        GSDP_18_to_19.append(i.text)

In [46]:
SHARE=[]
share = driver.find_elements_by_xpath("//td[5][@class='data']")[0:33]
for i in share:
    if i.text is None:
        SHARE.append("-")
    else:
        SHARE.append(i.text)

In [47]:
GDP_dollar=[]
gdp = driver.find_elements_by_xpath("//td[6][@class='data']")[0:33]
for i in gdp:
    if i.text is None:
        GDP_dollar.append("-")
    else:
        GDP_dollar.append(i.text)

In [48]:
df=pd.DataFrame({})
df['RANK']=Rank
df['STATE']=State
df['GSDP 19-20']=GSDP_19_to_20
df['GSDP 18-19']=GSDP_18_to_19
df['SHARE']=SHARE
df['GDP_BILLION $']=GDP_dollar
df

   RANK                      STATE GSDP 19-20 GSDP 18-19   SHARE GDP_BILLION $
0     1                Maharashtra          -  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%       240.726
3     4                    Gujarat          -  1,502,899   7.96%       228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%       226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%       165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%       143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%       131.083
8     9                  Telangana    969,604    861,031   4.56%       130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%       122.977
10   11                     Kerala          -    781,653   4.14%       118.733
11   12                      Delhi    856,112    774,870   4.10%       117.703
12   13                    Haryana    831,610    734,163   3.89%       111.519
13   14                      Bihar    611,804    530,363   2.81%        80.562
14   15                     Punjab    574,760    526,376   2.79%        79.957
15   16                     Odisha    521,275    487,805   2.58%        74.098
16   17                      Assam          -    315,881   1.67%        47.982
17   18               Chhattisgarh    329,180    304,063   1.61%        46.187
18   19                  Jharkhand    328,598    297,204   1.57%        45.145
19   20                Uttarakhand          -    245,895   1.30%        37.351
20   21            Jammu & Kashmir          -    155,956   0.83%        23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%        23.369
22   23                        Goa     80,449     73,170   0.39%        11.115
23   24                    Tripura     55,984     49,845   0.26%         7.571
24   25                 Chandigarh          -     42,114   0.22%         6.397
25   26                 Puducherry     38,253     34,433   0.18%         5.230
26   27                  Meghalaya     36,572     33,481   0.18%         5.086
27   28                     Sikkim     32,496     28,723   0.15%         4.363
28   29                    Manipur     31,790     27,870   0.15%         4.233
29   30                   Nagaland          -     27,283   0.14%         4.144
30   31          Arunachal Pradesh          -     24,603   0.13%         3.737
31   32                    Mizoram     26,503     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

### Question 5
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [20]:
# Activating the chrome browser 
driver = webdriver.Chrome(r"C:\WebDriver\chromedriver_win32\chromedriver.exe")

In [21]:
url = "https://github.com/explore"
driver.get(url)

In [ ]:
/html/body/div[4]/main/div[1]/nav/div/a[3]

In [22]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/main/div[1]/nav/div/a[3]'))).click()

In [ ]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a'))).click()

In [23]:
urls=[]
for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a'):
    urls.append(i.get_attribute("href"))

In [24]:
Title=[]
Description=[]
contributer_count=[]
Language_used=[]

In [25]:
for i in urls:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center break-word f3 text-normal"]')
        Title.append(title.text.replace('\n',' '))
    except NoSuchElementException:
        Title.append('-')
        
    try:
        description=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('-')
        
    try:
        count=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        contributer_count.append(count.text)
    except NoSuchElementException:
        contributer_count.append('-')

    try:
        lang=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[6]/div/ul/li/a/span[1]')
        Language_used.append(lang.text.replace('\n',' '))
    except NoSuchElementException:
        Language_used.append('-')

In [26]:
df=pd.DataFrame({})
df['Repository_Title']=Title
df['Repository_Description']=Description
df['Contributer_Count']=contributer_count
df['Language_Used']=Language_used
df

,Repository_Title,Repository_Description,Contributer_Count,Language_Used
0,-,-,-,-
1,-,"收集免费的接口服务,做一个api的搬运工",-,-
2,-,Wazuh - The Open Source Security Platform,-,-
3,-,Becoming better at data science every day,-,-
4,-,A quicker and better cross-platform SSH/Sftp/S...,-,-
5,-,Object detection and instance segmentation too...,73,Python
6,-,零反射全动态Android插件框架,23,Java
7,-,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",-,-
8,-,"Robust Video Matting in PyTorch, TensorFlow, T...",-,-
9,-,[Open Source]. The improved version of AnimeGA...,-,-
10,-,📚 µGo语言实现(如何从头开发一个迷你Go语言编译器),4,Go
11,-,A chrome extension for automating your browser...,-,-
12,-,🚀 The Progressive Framework Based On React（基于 ...,-,-
13,-,A cute running cat animation on your windows t...,-,-
14,-,2021年【思维导图】盒子，C/C++，Golang，Linux，云原生，数据库，DPDK，...,2,-
15,-,Offensive tooling notes and experiments in Aut...,-,-
16,-,Add Windows Store for LTSC,-,-
17,-,Ultimate DevSecOps library,4,-
18,-,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",99,Jupyter Notebook
19,-,Papers from the computer science community to ...,-,-
20,-,A Windows/macOS GUI based on Clash,-,-
21,-,"A modern, comprehensive, flexible design syste...",41,TypeScript
22,-,PArallel Distributed Deep LEarning: Machine Le...,504,Python
23,-,The container platform tailored for Kubernetes...,63,Go
24,-,"Your self-hosted, globally interconnected micr...",649,Ruby

### Question 6

Question 6
6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [127]:
# Activating the chrome browser 
driver = webdriver.Chrome(r"C:/WebDriver/chromedriver_win32/chromedriver.exe")

In [128]:
url = "https://www.billboard.com/"
driver.get(url)

In [130]:
search = driver.find_element_by_xpath("/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a").click()
search = driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a").click()

In [84]:
#search=driver.find_element_by_xpath('/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a')

In [135]:
Song=[]
song = driver.find_elements_by_xpath("//h3[@class='ing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in song:
    if i.text is None:
        Song.append("-")
    else:
        Song.append(i.text)

In [136]:
Song=[]
song = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in song:
    if i.text is None:
        Song.append("-")
    else:
        Song.append(i.text)

In [137]:
len(Song)

99

In [138]:
Artist=[]
artist = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in artist:
    if i.text is None:
        Artist.append("-")
    else:
        Artist.append(i.text)

In [139]:
Artist=[]
artist = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artist:
    if i.text is None:
        Artist.append("-")
    else:
        Artist.append(i.text)

In [140]:
len(Artist)

99

In [116]:
This_week_rank=[]
lastw_rank = driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // lrv-u-background-color-black lrv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column@mobile-max lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey']")
for i in lastw_rank:
    if i.text is None:
        last_week_rank.append("-")
    else:
        last_week_rank.append(i.text)

In [141]:
new_list = []

for i in driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    if i.text is None:
        new_list.append('')
    else:
        new_list.append(i.text)

In [142]:
last_week_rank = []
peak_rank = []
weeks_on_chart = []
for i in range(0,len(new_list)-1,6):
    last_week_rank.append(new_list[i])
    peak_rank.append(new_list[i+1])
    weeks_on_chart.append(new_list[i+2])

In [143]:
print(len(last_week_rank),len(weeks_on_chart),len(peak_rank),)

99 99 99

last_week_rank=[]
lastw_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lastw_rank:
    if i.text is None:
        last_week_rank.append("-")
    else:
        last_week_rank.append(i.text)

In [145]:
df=pd.DataFrame({})
df['SONG NAME']=Song
df['ARTIST NAME']=Artist
df['LAST WEEK RANK']=last_week_rank
df['PEAK RANK']=peak_rank
df['WEEKS ON BOARD']=weeks_on_chart
df

,SONG NAME,ARTIST NAME,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD
0,Easy On Me,Adele,1,1,6
1,Stay,The Kid LAROI & Justin Bieber,2,1,19
2,Industry Baby,Lil Nas X & Jack Harlow,3,1,17
3,Smokin Out The Window,Silk Sonic (Bruno Mars & Anderson .Paak),8,5,2
4,Bad Habits,Ed Sheeran,4,2,21
...,...,...,...,...,...
94,Moth To A Flame,Swedish House Mafia & The Weeknd,71,27,4
95,'Til You Can't,Cody Johnson,82,65,6
96,Woman,Doja Cat,83,62,16
97,Take My Breath,The Weeknd,70,6,15
98,For Tonight,Giveon,92,80,7

# Question 7

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [146]:
url = "https://www.naukri.com/"
driver.get(url)

In [147]:
job_search = driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys('Data Scientist')

In [148]:
search_btn = driver.find_element_by_xpath("//button[@class = 'btn']")
search_btn.click()

In [150]:
Name=[]
name = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [151]:
Company=[]
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    if i.text is None:
        Company.append("-")
    else:
        Company.append(i.text)

In [152]:
Skills=[]
skills = driver.find_elements_by_xpath("//ul[@class='tags has-description']")
for i in skills:
    if i.text is None:
        Skills.append("-")
    else:
        Skills.append(i.text)

In [153]:
Location=[]
url=[]
urls=driver.find_elements_by_xpath("a[@class='subTitle ellipsis fleft']")
for i in urls:
    url.append(i.get_attribute("href"))
    
for i in url:
    driver.get(i)
    try:
        location=driver.find_element_by_xpath("span[@class='location]")
        Location.append(location.text)
    except NoSuchElementException:
        Location.append('-')

In [154]:
location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']")
Location = []
for i in location:
    Location.append(i.text)

In [155]:
df=pd.DataFrame({})
df['NAME']=Name
df['SKILL']=Skills
df['LOCATION']=Location
df['COMPANY']=Company
df

,NAME,SKILL,LOCATION,COMPANY
0,Data Scientist,Data Science\nAlgorithm Development\nData Scie...,Bangalore/Bengaluru,RYSTAD ENERGY INDIA PRIVATE LIMITED
1,Data Scientist: Artificial Intelligence,IT Skills\nJava\nPython\nArtificial Intelligen...,Bengaluru/Bangalore,IBM India Pvt. Limited
2,Senior Data Scientist,IT Skills\nPython\nSoftware Development\nData ...,Bangalore/Bengaluru,Dell International Services India Private Limited
3,IDM - Lead Data Scientist,Computer science\nData management\nCoding\nAna...,Bangalore/Bengaluru,Philips India Limited
4,Lead Data Scientist,Pytorch\nCnn\nRnn\nLstm\nArtificial Intelligen...,Mumbai (All Areas),Essentially Al Private Limited
5,Senior Data Scientist - Statistical Modeling,R\nSQL\npredictive analysis\nDeep learning\nPy...,Bangalore/Bengaluru,Hiring Heads
6,Associate Data Scientist I/II,Computer vision\nC++\nPublishing\nFront end\nI...,Bangalore/Bengaluru,Philips India Limited
7,Senior Data Scientist - Statistical Modeling,predictive analysis\nPython\nR\nDeep learning\...,Bangalore/Bengaluru,Hiring Heads
8,Senior Data Scientist - SQL/Python/Numpy,Data Science\nData Scientist\nPandas\nNumpy\nD...,Bangalore/Bengaluru,Serving Skill
9,Senior Specialist - Data Scientist,operations\nsoftware\nbusiness\nDatabase\nMana...,Pune,BNY Mellon
10,Data Analyst / Data Scientist / Business Analy...,O2C\nfresher data analyst\nPower Bi\nBanking\n...,"Noida, Ghaziabad, Delhi / NCR",GABA Consultancy services
11,Business Analysis/ Data Scientist/ Python/R/,Data scientist\nR\nFinancial Reporting\nRequir...,Pune,Allegis Services India Pvt. Ltd.
12,Business Analysis/ Data Scientist/ Python/R/,Data scientist\nR\nFinancial Reporting\nRequir...,Pune,Allegis Services India Pvt. Ltd.
13,Senior Data Scientist,Data Science\nHadoop\nAdvanced Analytics\nBig ...,Hyderabad/Secunderabad,MetLife
14,Data Scientist/ Senior Data Scientist,Regression\nUnsupervised Learning\nMachine Lea...,Noida,Newgen Software Technologies Ltd.
15,Senior Data Scientist (Theoretical),Data Science\nArtificial Intelligence\nMachine...,Dehradun,CADENCE PARTNERS LLP
16,Senior Data Scientist (Applied),Data Science\nMachine Learning\nDeep Learning\...,Dehradun,CADENCE PARTNERS LLP
17,Data Scientist: Artificial Intelligence,IT Skills\nJava\nPython\nArtificial Intelligen...,Bengaluru/Bangalore,IBM India Pvt. Limited
18,Data Scientist: Artificial Intelligence,IT Skills\nPython\nArtificial Intelligence\nBi...,Bengaluru/Bangalore,IBM India Pvt. Limited
19,Data Scientist: Artificial Intelligence,IT Skills\nJava\nPython\nArtificial Intelligen...,Mumbai,IBM India Pvt. Limited

### Question 8

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [156]:
#url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/"
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

Name=[]
name = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [159]:
new_list = []

for i in driver.find_elements_by_xpath('//td[@class="left"]'):
    if i.text is None:
        new_list.append('')
    else:
        new_list.append(i.text)

In [164]:
rank_no=[]
book_name = []
author_name = []
volumes_sold = []
publisher=[]
genre=[]

for i in range(0,len(new_list)-1,5):
    rank_no.append(new_list[i])
    book_name.append(new_list[i+1])
    author_name.append(new_list[i+2])
    volumes_sold.append(new_list[i+3])
    publisher.append(new_list[i+4])
    #genre.append(new_list[i+4])

In [177]:
genres = driver.find_elements_by_xpath("//td[@class ='last left']")

for i in genres:
    genre.append(i.text)

In [181]:
print(len(rank_no),len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100 100

In [188]:
Best_Selling_Book=pd.DataFrame({})
Best_Selling_Book['Rank No']=rank_no
Best_Selling_Book['BOOK NAME']=book_name
Best_Selling_Book['Authors Name']=author_name
Best_Selling_Book['Volumes Sold']=volumes_sold
Best_Selling_Book['Publisher']=publisher
Best_Selling_Book['Genre']=genre
Best_Selling_Book

,Rank No,BOOK NAME,Authors Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Question 9

Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [189]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [190]:
Name=[]
name = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [191]:
Year_span=[]
year = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]")
for i in year:
    if i.text is None:
        Year_span.append("-")
    else:
        Year_span.append(i.text)

In [192]:
TV_genre=[]
tvgenre = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in tvgenre:
    if i.text is None:
        TV_genre.append("-")
    else:
        TV_genre.append(i.text)

In [193]:
Runtime=[]
runtime = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in runtime:
    if i.text is None:
        Runtime.append("-")
    else:
        Runtime.append(i.text)

In [194]:
Rating=[]
rating = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in rating:
    if i.text is None:
        Rating.append("-")
    else:
        Rating.append(i.text)

In [195]:
Votes=[]
votes = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in votes:
    if i.text is None:
        Votes.append("-")
    else:
        Votes.append(i.text)

In [196]:
df=pd.DataFrame({})
df['TV_SHOW_NAME']=Name
df['YEAR_SPAN']=Year_span
df['TV_GENRE']=TV_genre
df['RUNTIME']=Runtime
df['RATING']=Rating
df['VOTES']=Votes
df

,TV_SHOW_NAME,YEAR_SPAN,TV_GENRE,RUNTIME,RATING,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,904,989"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"934,963"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"913,878"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"273,582"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"233,924"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,549"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,337"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"180,497"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,801"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"213,658"

### Question 10

Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [44]:
# Importing Libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [45]:
# Activating the chrome browser 
driver = webdriver.Chrome(r"C:/WebDriver/chromedriver_win32/chromedriver.exe")

In [46]:
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [47]:
search = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [48]:
Name=[]
name = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [49]:
data_types=[]
data_type = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in data_type:
    if i.text is None:
        data_types.append("-")
    else:
        data_types.append(i.text)

In [50]:
task=[]
tasks= driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in tasks:
    if i.text is None:
        task.append("-")
    else:
        task.append(i.text)

In [59]:
attribute=[]
attri= driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in attri:
    if i.text is None:
        attribute.append("-")
    else:
        attribute.append(i.text)

In [52]:
no_of_instances=[]
instances= driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in instances:
    if i.text is None:
        no_of_instances.append("-")
    else:
        no_of_instances.append(i.text)

In [53]:
no_of_attribute=[]
attribute = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in attribute:
    if i.text is None:
        no_of_attribute.append("-")
    else:
        no_of_attribute.append(i.text)

In [54]:
year=[]
years = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in years:
    if i.text is None:
        year.append("-")
    else:
        year.append(i.text)

In [55]:
print(len(name),len(data_types),len(task),len(attribute),len(no_of_instances),len(no_of_attribute),len(year))

588 589 589 589 589 589 589

In [61]:
UCI_Machine_Learning_Repositories=pd.DataFrame({})
UCI_Machine_Learning_Repositories['Dataset Name']=Name
UCI_Machine_Learning_Repositories['Data Types']=data_types[1:589]
UCI_Machine_Learning_Repositories['Deafult Task']=task[1:589]
UCI_Machine_Learning_Repositories['Attribute Type']=attribute[1:589]
UCI_Machine_Learning_Repositories['No_of_instances']=no_of_instances[1:589]
UCI_Machine_Learning_Repositories['No_of_attribute']=no_of_attribute[1:589]
UCI_Machine_Learning_Repositories['Year']=year[1:589]
UCI_Machine_Learning_Repositories

,Dataset Name,Data Types,Deafult Task,Attribute Type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021